httpx-sse
rich
pure-eval
click
soupsieve
widgetsnbextension
pydantic-settings
idna
scipy
jupyter-core
rpds-py
detect-installer
pystac-client
kiwisolver
narwhals
requests
wcwidth
jupyterlab-widgets
bandit
griffelib
plotly
pyproj
ipyleaflet
pyyaml
secretstorage
jupyter-client
joblib
mapclassify
mcp
debugpy
prefab-ui
fastar
xyzservices
shapely
ipython-pygments-lexers
authlib
jedi
fastapi-cloud-cli
cyclopts
jsonschema-path
scooby
annotated-doc
pillow
pandas
executing
h11
pydantic-extra-types
opentelemetry-api
shellingham
whitebox
stevedore
joserfc
httpx
matplotlib
psygnal
jaraco-classes
jsonschema-specifications
scikit-learn
pyzmq
fastmcp
exceptiongroup
docstring-parser
packaging
python-dotenv
pydantic-core
traittypes
jsonref
certifi
arro3-compute
claude
more-itertools
threadpoolctl
tomli
annotated-types
python-dateutil
ipyevents
typing-extensions
folium
arro3-io
uvloop
pygments
ipyfilechooser
ipyvue
jaraco-functools
jsonschema
watchfiles
nest-asyncio2
ipykernel
pytz
pathable
lonboard
httptools
urllib3
prompt-toolkit
bqscales
networkx
tornado
pycparser
caio
websockets
attrs
fastapi-cli
pysocks
sse-starlette
git-filter-repo
py-key-value-aio
ipywidgets
ipytree
stack-data
rich-toolkit
leafmap
beautifulsoup4
markupsafe
jeepney
rich-rst
sentry-sdk
pyarrow
cryptography
starlette
eval-type-backport
geojson
charset-normalizer
gdown
bqplot
pexpect
pyjwt
aiofile
tqdm
asttokens
anywidget
openapi-pydantic
jaraco-context
typing-inspection
arro3-core
ipython
six
psutil
markdown-it-py
dnspython
maplibre
pyogrio
mdurl
seaborn
whiteboxgui
rignore
pystac
keyring
referencing
matplotlib-inline
email-validator
filelock
traitlets
pyperclip
parso
uncalled-for
ptyprocess
jupyter-leaflet
decorator
platformdirs
fonttools
cachetools
anyio
python-box
typer
ipyvuetify
geoarrow-rust-core
beartype
cffi
httpcore
branca
comm
contourpy
cycler
jinja2
pyparsing
python-multipart
ruff
fastmcp-slim
